.badge {
  background-color: #e24959;
  color: white;
  border-radius: 9px;
  font-size: medium;
  margin-left: 2%;
}
.links{
  text-decoration: none;
  color: white;
  margin-right: 2%;
  margin-left: 2%;
}
.links:hover{
  color:aliceblue
}
.cart{
  display: flex;
  flex-direction: row;
}
.heads{
  font-size: large;
}
@media (max-width: 991px) {
  .badge {
    margin-top: 0%;
  }
}
