@import url("https://fonts.googleapis.com/css2?family=Merienda&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
.Landing {
  margin-bottom: 0;
  padding-bottom: 2%;
}
img {
  width: 80%;
  height: 100%;
}
.top-products {
  margin-left: 5%;
  margin-right: 5%;
}
.search {
  background: #dc3545;
  display: grid;
  align-items: center;
}
.searchform {
  display: flex;
  flex: wrap;
  flex-direction: row;
  margin-left: 10%;
  margin-right: 10%;
}
.intro-section {
  display: flex;
  flex-direction: row;
}
.intro-para {
  color: #dc3545;
  margin-right: 20%;
  margin-left: 20%;
  text-align: justify;
  font-size: 300%;
  margin-top: 20%;
  font-family: "Times New Roman", Times, serif;
}
.spanText {
  color: #ffb830;
  font-family: "Allura", cursive;
}
.para {
  font-size: 50px;
  color: #dc3545;
}
form > input {
  flex: 1 1 10ch;
  margin: 0.5rem;
}

form > input[type="email"] {
  flex: 3 1 30ch;
}

input {
  border: none;
  background: white;
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;
}

@media (max-width: 400px) {
  .searchform {
    margin-right: 1%;
    margin-left: 1%;
  }
}
@media (max-width: 1236px) {
  .intro-para {
    font-size: 200%;
    margin-top: 25%;
  }
}
@media (max-width: 900px) {
  .intro-para {
    font-size: 150%;
    margin-top: 25%;
  }
}
@media (max-width: 770px) {
  .intro-section {
    display: flex;
    flex-direction: column;
  }
  .intro-para {
    margin-top: 0;
  }
}
@media (min-width: 944px) and (max-width: 1006px) {
  .intro-para {
    text-align: center;
  }
}
@media (min-width: 300px) and (max-width: 329px) {
  .intro-para {
    font-size: 155%;
  }
}
@media (min-width: 310px) and (max-width: 324px) {
  .intro-para {
    font-size: 130%;
  }
}
