.product-info {
  display: flex;
  flex-direction: column;
}
.order {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.spa{
  margin-top: 5%;  
}


.details-p{
  text-align: justify;
  margin-left: 20%;
  margin-right: 20%;
}