.product-info {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
}
.image {
  width: 50%;
 

}
.underline--magical {
  background-image: linear-gradient(120deg, #eb8490 0%, #fa6776 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  width: 50%;
}
.underline--magical:hover {
  background-size: 100% 88%;
}
.description {
  text-align: justify;
  font-size: large;
  width: 100%;
}
.order {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media screen and (max-width: 1220px) {
  .image {
    width: 100%;
    
  
  }
  .product-info {
    display: flex;
    flex-direction: column;
  }
  .info{
    margin-left: 25%;
    margin-top: 1%;
  }
  
}
@media screen and (max-width: 900px) {

  .info{
    margin-left: 20%;
  }
  
}
@media screen and (max-width: 730px) {

  .info{
    margin-left: 15%;
  }
  
}
