@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
.Landing{
    margin-bottom: 0;
    padding-bottom: 2%;
}
img{
    width: 40%;
    height: 30%;
}
.para{
    color: white;
    font-size: 230%;
    font-family: 'Merienda', cursive;
    padding-top: 3%;
}
.top-products{
    margin-left: 5%;
    margin-right: 5%;
}
.search {
    background: #212529;
    display: grid;
    align-items: center;
  }
  .searchform {
    display: flex;
    flex: wrap;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  form > input {
    flex: 1 1 10ch;
    margin: 0.5rem;
  }
  
  form > input[type="email"] {
    flex: 3 1 30ch;
  }
  
  input {
    border: none;
    background: hsl(0, 0%, 93%);
    border-radius: 0.25rem;
    padding: 0.75rem 1rem;
  }
  
  @media (max-width: 400px) {
    .searchform {
      margin-right: 1%;
      margin-left: 1%;
    }
  }
  