.badge {
  background-color: #e24959;
  color: white;
  border-radius: 9px;
  font-size: medium;
  margin-top: 10%;
}

.product {
  margin-top: 4.5%;
}
@media (max-width: 991px) {
  .badge {
    margin-top: 0%;
  }
}
